/*#region ALL CSS*/

/*#region CSS FOR ALL PAGES*/

body {
    border: solid transparent;
    margin: auto;
    background-image: url('../images/Background_05.jpg');
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-color: black;
    background-attachment: fixed;
}

/*#region Header*/

header {
    border: solid transparent; /*Make sure to turn the border color to transparent after position fix*/
    margin: auto;
    height: 14em;
}

header img {
    border: solid transparent;
    margin: auto;
    position: relative;
    width: 10em; 
    height: 10em; 
    object-fit: cover;
    object-position: 0 0; 
}

h1 {
    border: solid transparent; /*Make sure to turn the border color to transparent after position fix*/
    margin: auto;
    position: relative;
    top: -1.25em;
    left: 1em;
    width: auto;
    color: whitesmoke;
    font-family: Broadway;
    font-size: 7.5em;
    text-shadow: 10px 4px black;
    text-decoration: none;
}

.headerLogo p {
    border: solid transparent; /*Make sure to turn the border color to transparent after position fix*/
    margin: auto;
    position: relative;
    top: -5.75em;
    left: 15em;
    font-size: 1.9em;
    color: white;
    font-family: cursive;
    font-style: italic;
    text-decoration: none;
}

/*#region Social Media*/

.fa {
    border: solid white; /*Make sure to turn the border color to transparent after position fix*/
    margin: auto;
    position: relative;
    top: -6.5em;
    left: 37em;
    padding: 0.35em;
    font-size: 2em;
    width: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

/*#endregion*/

/*#endregion*/

/*#region Navigation*/

#activeTab li a {
    color: white;
    font-family: Verdana;
}

ul {
    text-align: center;
}

nav ul {
    border-top: solid white; /*Make sure to turn the border color to transparent after position fix*/
    border-bottom: solid white;
    margin: auto;
    word-spacing: 50px;
    text-decoration: none;
    background-image: linear-gradient(0deg, #181818, transparent,#181818);
}

nav a {
    color: lightgray;
    font-family: Broadway;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 2px;
}

nav li a:hover {
    background-image: radial-gradient(transparent, transparent, transparent, transparent, transparent, transparent, white);
    color: white;
    border-left: solid;
    border-left-color: darkgray;
    border-right: solid;
    border-right-color: darkgray;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    border-width: 2px;
    font-size: 2em;
    text-shadow: 4px 4px black;
    padding: 0;
}

nav li a:active {
    color: darkslategray;
    border-left-color: darkslategray;
    border-right-color: darkslategray;
}

nav ul li {
    min-height: 2em;
    min-width: 15em;
    line-height: 2em;
    display: inline-block;
    list-style: none;
    text-decoration: none;
}

nav ul li a {
    border: solid transparent; /*Make sure to turn the border color to transparent after position fix*/
    padding: .5em 1em;
    display: block;
    text-decoration: none;
}
/*#endregion*/

/*#region Main*/

main {
    border: solid transparent;
    margin: auto;
    margin: 1em 10em;
}

.allPage {
    padding: 0 2em;
}

.allPage p {
    font-family: Verdana;
    font-size: 2em;
    color: white;
}

.allPage h2 {
    text-align: center;
    color: white;
    font-family: Verdana;
    font-size: 3em;
}    

/*#endregion*/

/*#region Footer*/

footer {
    border: solid white;
    margin: 0 10em;
    position: relative;
    color: white;
    text-align: left;
    padding: 2em;
}

#footerLogo .fa {
    border: solid white;
    margin: auto;
    position: relative;
    top: 0em;
    left: 20em;
    padding: 0.35em;
    font-size: 2em;
    width: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

#footerLogo .fa:hover {
    opacity: 0.7;
}

#footerLogo .fa-facebook {
    background: #3B5998;
    color: white;
}

#footerLogo .fa-twitter {
    background: #55ACEE;
    color: white;
}

#footerLogo .fa-instagram {
    background: #125688;
    color: white;
}

/*#endregion*/

/*#endregion*/

/*#region CSS FOR INDIVIDUAL PAGES*/

/*#region Classes Page*/

#classesPos h3 {
    padding-left: 0.5em;
    text-align: left;
    font-family: Verdana;
    font-size: 2em;
    color: white;
}

#classesPos p {
    padding-left: 0.75em;
    padding-right: 0.75em;
    text-align: left;
    font-size: 1em;
    color: white;
    font-family: Verdana;
    word-spacing: 0.25em;
}

#classesPos ul li {
    margin: 1em;
    border-style: solid;
    border-color: darkgray;
    width: 20em;
    line-height: 30px;
    display: inline-block;
    list-style: none;
    text-decoration: none;
}

#classesPos img {
    max-width: 100%;
    height: auto;
}

#classesTab p {
    padding-top: 1em;
    text-align: center;
    font-size: 0.75em;
    color: white;
}

#classesTab h2 {
    margin-top: -0.25em;
}

#classesTab table {
    margin: auto;
    margin-bottom: 2em;
}

th {
    color: black;
    font-weight: bold;
    text-align: left;
}

td {
    color: black;
}

table, tr, td, th {
    border-collapse: collapse; 
}

td, th {
    font-family: Verdana;
    padding-left: 2.5em;
    padding-right: 2.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

thead {
    background-color: darkgray;
}

tbody {
    background-color: white;
}

/*#endregion*/

/*#region Team Page*/

.directory {
    margin: auto;
}

.directory ul {
    text-align: left;
}

.directory li {
}

.teamInfo {
    display: inline-block;
    width: 75%;
    box-sizing: border-box;
}

.profilePic {
    padding: 1em;
    float: left;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.teamInfo p {
    margin-left: 1em;
    padding: 0.5em;
    font-size: 2em;
}

.directory {
    float: right;
    width: 23%;
    display: block;
}

/*#endregion*/

/*#endregion*/

/*#endregion*/