/*#region ALL CSS*/

/*#region CSS FOR ALL PAGES*/
html {
    background-image: url('../images/Background_05.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-color: black;
    background-attachment: fixed;
}

/*Social Media*/
.fa {
    border: solid white;
    padding: 0.35em;
    font-size: 2em;
    width: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 25%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #0a66c2;
    color: white;
}

/*body {
}*/

/*#region Header*/

header {
    width: 100%;
    height: 14em;
}

    header h1 {
        transition: ease-in 1s;
        margin: auto;
        position: absolute;
        top: .85em;
        left: 1.75em;
        width: auto;
        color: whitesmoke;
        font-family: Broadway;
        font-size: 5em;
        text-shadow: 10px 4px black;
        text-decoration: none;
    }

    header p {
        transition: ease-in 1s;
        margin: auto;
        position: absolute;
        top: 5em;
        left: 20em;
        font-size: 1.9em;
        color: white;
        font-family: cursive;
        font-style: italic;
        text-decoration: none;
    }

    header a {
        margin: 0 5px;
    }

    header .fa {
        float: right;
    }

/*#endregion*/

/*#region Navigation*/

.stickyNav {
    transition: ease-in .25s;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(56,56,56);
}

nav {
    transition: ease-in 1s;
    width: 100%;
    height: 60px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-image: linear-gradient(0deg, #181818, transparent,#181818);
}

    nav ul {
        position: sticky;
        width: 100%;
        height: 30px;
    }

        nav ul li {
            display: inline-block;
            text-decoration: none;
        }

            nav ul li a {
                transition: ease-in 1s;
                float: left;
                text-decoration: none;
                font-size: 25px;
                font-family: Broadway;
                padding: 0 0px;
                margin: 0 65px;
                color: lightgray;
                letter-spacing: 2px;
                border-left: 2px solid transparent;
                border-right: 2px solid transparent;
            }

                nav ul li a:hover {
                    transition: ease-in .1s;
                    padding: 0 20px;
                    margin: 0 45px;
                    position: static;
                    color: white;
                    border-radius: 5px;
                    border-left: 2px solid white;
                    border-right: 2px solid white;
                    text-shadow: 4px 4px black;
                }

.active a {
    padding: 0 20px;
    margin: 0 45px;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

/*#endregion*/

/*#region Main*/

main {
    margin: 100px 15em;
}

.allPage {
    display: block;
    padding: 0 2em;
}

    .allPage p {
        font-family: Verdana;
        font-size: 2em;
        color: white;
    }

h2 {
        background-image: url('../images/Logo_NO_BACKGROUND.png');
        background-repeat: no-repeat;
        background-position-y: 2em;
        margin: auto;
        padding-top: 2em;
        height: 3em;
        background-position: center;
        text-align: center;
        color: white;
        font-family: Verdana;
        font-size: 3em;
    }

/*#endregion*/

/*#region Footer*/

footer .fa {
    margin-top: 7px;
    float: right;
}

footer a {
    margin: 0 5px;
}

.socialFooter {
    display: block;
    float: right;
}

footer p {
    padding-top: 10px;
    text-align: center;
    color: white;
}

footer {
    display: block;
    position: relative;
    margin: auto;
    height: 75px;
    width: 100%;
    background-image: linear-gradient(0deg, #181818, transparent,#181818);
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

/*#endregion*/

/*#endregion*/

/*#region CSS FOR INDIVIDUAL PAGES*/

/*#region Home Page*/

.contentRight {
    /*display: block;*/
    /*float: right;*/
}

.contentRight img {
    object-fit: contain;
    width: 50%;
    height: 100%;
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
}

.contentLeft img {
    object-fit: contain;
    width: 50%;
    height: 100%;
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
}

.content h3 {
    font-family: Verdana;
    font-size: 50px;
    color: white;
}

.content p {
    font-family: sans-serif;
    font-size: 25px;
    color: white;
}

.homePage {
    /*margin: 5em 5em;
    display: inline-block;*/
}

    .homePage img {
        padding: 1em;
        float: left;
    }

    .homePage h3 {
        font-family: Verdana;
        font-size: 2em;
        color: white;
    }

    .homePage p {
        font-family: Verdana;
        color: white;
    }

.chooseUs {
    margin: 5em 5em;
    display: inline-block;
}

    .chooseUs img {
        padding: 1em;
        float: left;
    }

    .chooseUs h3 {
        font-family: Verdana;
        font-size: 2em;
        color: white;
    }

    .chooseUs p {
        font-family: Verdana;
        color: white;
    }

    .chooseUs h2 {
        margin: auto;
        font-family: Verdana;
        color: white;
        font-size: 4em;
        text-align: center;
    }

.rightFloat {
    /*margin: 5em 5em;*/
    display: inline-block;
}

    .rightFloat img {
        padding-left: 1em;
        float: right;
    }

    .rightFloat h3 {
        font-family: Verdana;
        font-size: 2em;
        color: white;
    }

    .rightFloat p {
        font-family: Verdana;
        color: white;
    }

/*#endregion*/

/*#region Classes Page*/
#classesPos a {
    /*padding-left: 0.5em;*/
    font-family: Broadway;
    text-decoration: none;
    text-align: left;
    /*font-family: Verdana;*/
    letter-spacing: 1px;
    font-size: 2em;
    color: white;
}

    #classesPos a:hover {
        text-decoration: underline;
    }

#classesPos p {
    padding-left: 0.75em;
    padding-right: 0.75em;
    text-align: left;
    font-size: 1em;
    color: white;
    font-family: Verdana;
    word-spacing: 0.25em;
}

#classesPos ul {
    /*min-height: 2000px;*/
}

    #classesPos ul li {
        margin: 1em;
        border-style: solid;
        border-color: darkgray;
        height: 650px;
        /*min-height: 15em;*/
        width: 15em;
        line-height: 30px;
        display: inline-block;
        list-style: none;
        text-decoration: none;
    }

/*#classesPos img {
    max-width: 100%;
    height: auto;
}*/

#classesTab p {
    padding-top: 1em;
    text-align: center;
    font-size: 0.75em;
    color: white;
}

#classesTab h2 {
    margin-top: -0.25em;
}

#classesTab table {
    margin: auto;
    margin-bottom: 2em;
}

th {
    color: black;
    font-weight: bold;
    text-align: left;
}

td {
    color: black;
}

table, tr, td, th {
    border-collapse: collapse;
}

td, th {
    font-family: Verdana;
    padding: 1em 2.5em;
}

thead {
    background-color: darkgray;
    border-bottom: solid 2px black;
}

tbody {
    background-color: white;
}

/*#endregion*/

/*#region Team Page*/

.profilePic {
    box-shadow: -1em -1em lightblue;
    padding: 1em;
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.teamInfo p {
    margin-left: 1em;
    padding: 0.5em;
    font-size: 2em;
}

.sideTab {
    float: right;
    position: page;
    display: inline-block;
}

#htmlRightColumn {
    /*position: fixed;*/
    margin-left: 10px;
    float: right;
    padding-left: 10px;
    border-left: solid white 3px;
    width: 25%;
    /*height: 100%;*/
}

    #htmlRightColumn h2 {
        padding-left: 40px;
    }

.asideList {
    /*text-align: center;
    margin-left: 10px;*/
    height: 100em;
    list-style: none;
}

    .asideList li {
        border-left: solid transparent 1px;
        border-right: solid transparent 1px;
        font-size: 25px;
        font-family: sans-serif;
        color: white;
        text-align: left;
        padding-left: 10px;
        /*height: 100em;*/
        list-style: none;
    }

        .asideList li:hover {
            background-image: linear-gradient(90deg, #181818, #181818, #181818, #181818, #181818, #181818, transparent, transparent, transparent, transparent, transparent, transparent, transparent);
            transition: ease-in .1s;
            border-radius: 1%;
            border-left: solid white 1px;
            /*border-right: solid white 1px;*/
            /*text-decoration: underline;*/
        }

/*#endregion*/

/*#region Contact Page*/

.contactMe {
    /*position: center;*/
    padding-bottom: 10em;
    margin: 0 17em;
    /*width: 50%;*/
    text-align: left;
}

    .contactMe a {
        float: right;
        text-decoration: none;
        color: white;
    }

        .contactMe a:hover {
            text-decoration: underline;
        }

/*#endregion*/

/*#endregion*/

/*#region Admin Side Nav*/
.sidenav {
    border-right: solid white;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.75;
    background-image: linear-gradient(90deg, #181818, transparent, #181818);
    overflow-x: hidden;
    padding-top: 125px;
    transition: .5s;
}

    .sidenav a {
        border-left: solid white;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: darkgray;
        display: block;
        transition: .3s;
    }

        .sidenav a:hover {
            color: white;
            border-top: solid white;
            border-bottom: solid white;
            background-image: linear-gradient(0deg, #181818, transparent,#181818);
        }

.close-btn {
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
    margin-top: -20px;
}

.button {
    border-right: solid white;
    font-family: sans-serif;
    background-image: linear-gradient(90deg, #181818, transparent,#181818);
    height: 100%;
    width: 20px;
    z-index: 1030;
    position: fixed;
    left: 0;
    top: 0;
    cursor: pointer;
}

.vertical-text {
    position: absolute;
    top: 45%;
    left: 0;
    writing-mode: vertical-lr;
    color: white;
    font-weight: bold;
}
/*#endregion*/

/*#endregion*/

@media only screen and (max-width: 1300px) {

    nav ul li a {
        transition: ease-in-out 1s;
        margin: 0 45px;
    }

        nav ul li a:hover {
            padding: 0 20px;
            margin: 0 25px;
        }

    .active a {
        padding: 0 20px;
        margin: 0 25px;
    }

    header p {
        transition: ease-in 1s;
        top: 5em;
        left: 12em;
    }

    .contentRight img {
        width: 500px;
    }
}

@media only screen and (max-width: 1050px) {
    header h1 {
        transition: ease-in 1s;
        top: 60px;
        font-size: 60px;
    }

    header p {
        display: none;
    }

    nav ul li a {
        opacity: 0;
        transition: ease-in .5s;
        /*display: none;*/
    }
}

@media only screen and (max-width: 1000px) {
    main {
        margin: 1em 5em;
    }

    nav ul {
        display: none;
    }    
}

@media only screen and (max-width: 600px) {
    main {
        transition: ease-in 1s;
        text-align: center;
        margin: 15px;
    }

    header h1 {
        transition: ease-in .5s;
        top: 70px;
    }

    .contentRight img {
        width: 100%;
        /*height: 100%;*/
    }

    .contentLeft img {
        text-align: center;
        width: 100%;
        /*height: 100%;*/
    }

    .content h3 {
        font-size: 25px;
    }

    .rightFloat {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .rightFloat img {
        padding: 0;
        padding-bottom: 15px;
    }
}
